examples/ioTSensorsMQTT-SpB/nodered/data/.flows.json.backup
[
    {
        "id": "7f0d673780f6df9b",
        "type": "tab",
        "label": "IoTSensors-SpB demo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9b807f6e931072d0",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "name": "Emulated device : emulatedDevice",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "8bafb5ca9319f25b",
            "171d0d3ab6cf4b60"
        ],
        "x": 28,
        "y": 633,
        "w": 1144,
        "h": 594
    },
    {
        "id": "7e7e4e2f016331ed",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "name": "Emulated Edge of Network (EoN) Node",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "6da3b79df35d0a20",
            "3e99cfcda113d95f"
        ],
        "x": 28,
        "y": 33,
        "w": 1144,
        "h": 574
    },
    {
        "id": "c84fc3a7b7bf4fc2",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "name": "Emulated device : anotherEmulatedDevice",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "417ec37e5915bdc6",
            "9745e11ad525fcea"
        ],
        "x": 28,
        "y": 1253,
        "w": 1144,
        "h": 594
    },
    {
        "id": "8bafb5ca9319f25b",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "g": "9b807f6e931072d0",
        "name": "emulatedDevice / DDATA, DBIRTH and DDEATH",
        "style": {
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "221bc4458002b147",
            "3caeb246dbc855f3",
            "8f363dbc436bd70f",
            "73ec50f74e0d636c",
            "8ef2c3f9c8aa5308",
            "221bc4458002b147",
            "9f15bdb21d0ea917",
            "b76c4f18d6f407e8",
            "746110e5b3a3049b",
            "49972b90e6d5c71e"
        ],
        "x": 54,
        "y": 659,
        "w": 1072,
        "h": 182
    },
    {
        "id": "6da3b79df35d0a20",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "g": "7e7e4e2f016331ed",
        "name": "Emulated EoN Node / SparkplugB",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "0ab0ee6e2579314c",
            "fa6d4c2c5bc35c03",
            "4a6aaf3d4f44d6a4",
            "9331974a2fea03b9",
            "55003e6861ed9ad7",
            "f734af8d7efff40b",
            "39ae10cb66f44d42",
            "fd7a0ea1a81378a5",
            "ba2747c23a62e368"
        ],
        "x": 54,
        "y": 59,
        "w": 1092,
        "h": 182
    },
    {
        "id": "3e99cfcda113d95f",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "g": "7e7e4e2f016331ed",
        "name": "Emulated EoN Node / control commands",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "120fdafd997454cf",
            "6e35a2590aea5a9a",
            "2b01e46f5ebab31c",
            "6b942c05965b144e",
            "f6d5c8f5739d81a4",
            "1127a23de2dbeebc",
            "b9e3065d9cf5cb8f",
            "2179ed2c4bbf132e",
            "c6d0d0a298dc27e6",
            "91a7ebe172acc756",
            "82af7c90ab0f343e",
            "5e4cb0e20593603c",
            "7cc49efdf0cfd895"
        ],
        "x": 54,
        "y": 259,
        "w": 1092,
        "h": 322
    },
    {
        "id": "171d0d3ab6cf4b60",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "g": "9b807f6e931072d0",
        "name": "emulatedDevice / control commands",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "8a55638e1b3940d2",
            "551599bd68c97175",
            "99aaa7d2f3fe6b24",
            "ce9f35abd4f50dc3",
            "3d3890956cc55536",
            "ebbdeb160a483119",
            "3f6f1f5c976723cf",
            "02784c3d9970e9ff",
            "7c68c9335bc0eba8",
            "a0dd75559cbab257",
            "bccf6e86df3779e4",
            "ec4597b415098143",
            "422f8f9f2d2c4009"
        ],
        "x": 54,
        "y": 879,
        "w": 1092,
        "h": 322
    },
    {
        "id": "417ec37e5915bdc6",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "g": "c84fc3a7b7bf4fc2",
        "name": "anotherEmulatedDevice / DDATA, DBIRTH and DDEATH",
        "style": {
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "2a086d8c2cb1c6ed",
            "d46323e97945a666",
            "fdaae2dbc3801c07",
            "d3b2b93ecfcc178a",
            "61cccae98438e312",
            "2a086d8c2cb1c6ed",
            "82f7fe20016a3a92",
            "fb97c83db3c60cd1",
            "c1e84663db1dec8e",
            "33cf8389453d7303"
        ],
        "x": 54,
        "y": 1279,
        "w": 1072,
        "h": 182
    },
    {
        "id": "9745e11ad525fcea",
        "type": "group",
        "z": "7f0d673780f6df9b",
        "g": "c84fc3a7b7bf4fc2",
        "name": "anotherEmulatedDevice / control commands",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#3f3f3f"
        },
        "nodes": [
            "4793a917b9e21984",
            "1559d5b083f231a5",
            "2bbc63114cbc9a91",
            "2769efccf055206e",
            "994e1c7fe2a8488f",
            "3fa0850b68f2328e",
            "0f445547a709d54a",
            "2c208663d771ab43",
            "b3bc1b4787f6bd8d",
            "b57317f239364730",
            "f08fb4622c506982",
            "193b26078302fdc0",
            "beb151997b41667b"
        ],
        "x": 54,
        "y": 1499,
        "w": 1092,
        "h": 322
    },
    {
        "id": "e55b485152c29769",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "tcp://mqtt:1883",
        "port": "1883",
        "clientid": "IoTSesnsorsSpB-NodeRedClient",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "120"
    },
    {
        "id": "33ba13cd985b8439",
        "type": "protobuf-file",
        "protopath": "/data/sparkplug_b.proto"
    },
    {
        "id": "c7e4ea28fcb99a3c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "3caeb246dbc855f3",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "Encoded DDATA/Devices",
        "topic": "spBv1.0/IoTSensors/DDATA/SparkplugB/emulatedDevice",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "221bc4458002b147"
            ]
        ]
    },
    {
        "id": "8f363dbc436bd70f",
        "type": "debug",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "Decoded Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 700,
        "wires": []
    },
    {
        "id": "fa6d4c2c5bc35c03",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "Encoded NBIRTH/EoN-Node",
        "topic": "spBv1.0/IoTSensors/NBIRTH/SparkplugB",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "0ab0ee6e2579314c"
            ]
        ]
    },
    {
        "id": "4a6aaf3d4f44d6a4",
        "type": "debug",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "Decoded Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "120fdafd997454cf",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Send Rebirth command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "1127a23de2dbeebc"
            ]
        ]
    },
    {
        "id": "2b01e46f5ebab31c",
        "type": "debug",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Encoded Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "6b942c05965b144e",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Reboot",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n         \"metrics\": [\n        {\n            \"name\": \"Node Control/Reboot\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 420,
        "wires": [
            [
                "6e35a2590aea5a9a"
            ]
        ]
    },
    {
        "id": "f6d5c8f5739d81a4",
        "type": "mqtt out",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "EoN Node control topic",
        "topic": "spBv1.0/IoTSensors/NCMD/SparkplugB",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e55b485152c29769",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "1127a23de2dbeebc",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Rebirth",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n         \"metrics\": [\n        {\n            \"name\": \"Node Control/Rebirth\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "6e35a2590aea5a9a"
            ]
        ]
    },
    {
        "id": "b9e3065d9cf5cb8f",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Shutdown",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n         \"metrics\": [\n        {\n            \"name\": \"Node Control/Shutdown\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "6e35a2590aea5a9a"
            ]
        ]
    },
    {
        "id": "2179ed2c4bbf132e",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Send Shutdown command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "b9e3065d9cf5cb8f"
            ]
        ]
    },
    {
        "id": "c6d0d0a298dc27e6",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Send Reboot command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "6b942c05965b144e"
            ]
        ]
    },
    {
        "id": "91a7ebe172acc756",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Remove Device",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n        \"parameters\": [\n            {\n                \"name\": \"DeviceId\",\n                \"stringValue\": \"emulatedDevice-spB\"\n            }\n        ],\n         \"metrics\": [\n        {\n            \"name\": \"Node Control/RemoveDevice\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "6e35a2590aea5a9a"
            ]
        ]
    },
    {
        "id": "82af7c90ab0f343e",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Send RemoveDevice command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "91a7ebe172acc756"
            ]
        ]
    },
    {
        "id": "5e4cb0e20593603c",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Add Device",
        "func": "msg.payload = {\n    \"version\": \"v1.0.0\",\n    \"isDefinition\": true,\n    \"parameters\": [\n        {\n            \"name\": \"DeviceId\",\n            \"stringValue\": \"emulatedDevice-spB\"\n        },\n        {\n            \"name\": \"StoreAndForward\",\n            \"booleanValue\": true\n        },\n        {\n            \"name\": \"TTL\",\n            \"intValue\": 10\n        }\n        \n    ],\n    \"metrics\": [\n        {\n            \"name\": \"Node Control/AddDevice\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "6e35a2590aea5a9a"
            ]
        ]
    },
    {
        "id": "7cc49efdf0cfd895",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "Send AddDevice command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "5e4cb0e20593603c"
            ]
        ]
    },
    {
        "id": "9331974a2fea03b9",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "Encoded NDEATH/EoN-Node",
        "topic": "spBv1.0/IoTSensors/NDEATH/SparkplugB",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "0ab0ee6e2579314c"
            ]
        ]
    },
    {
        "id": "55003e6861ed9ad7",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "Encoded NDATA/EoN-Node",
        "topic": "spBv1.0/IoTSensors/NDATA/SparkplugB",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "0ab0ee6e2579314c"
            ]
        ]
    },
    {
        "id": "73ec50f74e0d636c",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "Encoded DBIRTH/Devices",
        "topic": "spBv1.0/IoTSensors/DBIRTH/SparkplugB/emulatedDevice",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 740,
        "wires": [
            [
                "221bc4458002b147"
            ]
        ]
    },
    {
        "id": "8ef2c3f9c8aa5308",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "Encoded DDEATH/Devices",
        "topic": "spBv1.0/IoTSensors/DDEATH/SparkplugB/emulatedDevice",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 780,
        "wires": [
            [
                "221bc4458002b147"
            ]
        ]
    },
    {
        "id": "37ac5ea08930317d",
        "type": "comment",
        "z": "7f0d673780f6df9b",
        "name": "IoTSensors-SparkplugB",
        "info": "This flow contains all the defined commands\nto control the EoN Node and all the devices\nassociated with it.",
        "x": 1280,
        "y": 40,
        "wires": []
    },
    {
        "id": "6e35a2590aea5a9a",
        "type": "encode",
        "z": "7f0d673780f6df9b",
        "g": "3e99cfcda113d95f",
        "name": "sparkplugB encoder",
        "protofile": "33ba13cd985b8439",
        "protoType": "Template",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "2b01e46f5ebab31c",
                "f6d5c8f5739d81a4"
            ]
        ]
    },
    {
        "id": "221bc4458002b147",
        "type": "decode",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "sparkplugB dencoder",
        "protofile": "33ba13cd985b8439",
        "protoType": "Payload",
        "x": 480,
        "y": 740,
        "wires": [
            [
                "8f363dbc436bd70f",
                "9f15bdb21d0ea917"
            ]
        ]
    },
    {
        "id": "0ab0ee6e2579314c",
        "type": "decode",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "sparkplugB dencoder",
        "protofile": "33ba13cd985b8439",
        "protoType": "Payload",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "4a6aaf3d4f44d6a4",
                "ba2747c23a62e368"
            ]
        ]
    },
    {
        "id": "8a55638e1b3940d2",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Send Rebirth command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "3d3890956cc55536"
            ]
        ]
    },
    {
        "id": "551599bd68c97175",
        "type": "debug",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Encoded Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1020,
        "wires": []
    },
    {
        "id": "99aaa7d2f3fe6b24",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Add Sensor",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n        \"parameters\": [\n            {\n                \"name\": \"SensorId\",\n                \"stringValue\": \"NewSensor\"\n            },\n            {\n                \"name\": \"Mean\",\n                \"doubleValue\": 18.5\n            },\n            {\n                \"name\": \"Std\",\n                \"doubleValue\": 1.8\n            },\n            {\n                \"name\": \"DelayMin\",\n                \"intValue\": 5\n            },\n            {\n                \"name\": \"DelayMax\",\n                \"intValue\": 8\n            },\n            {\n                \"name\": \"Randomize\",\n                \"booleanValue\": true\n            },\n        ],\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/AddSimulator\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "422f8f9f2d2c4009"
            ]
        ]
    },
    {
        "id": "ce9f35abd4f50dc3",
        "type": "mqtt out",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Device control topic",
        "topic": "spBv1.0/IoTSensors/DCMD/SparkplugB/emulatedDevice",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e55b485152c29769",
        "x": 1010,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3d3890956cc55536",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Rebirth",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/Rebirth\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 980,
        "wires": [
            [
                "422f8f9f2d2c4009"
            ]
        ]
    },
    {
        "id": "ebbdeb160a483119",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "OFF",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/OFF\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 920,
        "wires": [
            [
                "422f8f9f2d2c4009"
            ]
        ]
    },
    {
        "id": "3f6f1f5c976723cf",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Send OFF command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "ebbdeb160a483119"
            ]
        ]
    },
    {
        "id": "02784c3d9970e9ff",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Send AddSensor command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "99aaa7d2f3fe6b24"
            ]
        ]
    },
    {
        "id": "7c68c9335bc0eba8",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Remove Sensor",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n        \"parameters\": [\n            {\n                \"name\": \"SensorId\",\n                \"stringValue\": \"NewSensor\"\n            }\n        ],\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/RemoveSimulator\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1100,
        "wires": [
            [
                "422f8f9f2d2c4009"
            ]
        ]
    },
    {
        "id": "a0dd75559cbab257",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Send RemoveSensor command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1100,
        "wires": [
            [
                "7c68c9335bc0eba8"
            ]
        ]
    },
    {
        "id": "bccf6e86df3779e4",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Update Sensor",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n        \"parameters\": [\n            {\n                \"name\": \"SensorId\",\n                \"stringValue\": \"NewSensor\"\n            },\n            {\n                \"name\": \"Mean\",\n                \"doubleValue\": 98.5\n            },\n            {\n                \"name\": \"Std\",\n                \"doubleValue\": 1.8\n            },\n            {\n                \"name\": \"DelayMin\",\n                \"intValue\": 3\n            },\n            {\n                \"name\": \"DelayMax\",\n                \"intValue\": 5\n            },\n            {\n                \"name\": \"Randomize\",\n                \"booleanValue\": false\n            },\n        ],\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/UpdateSimulator\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1160,
        "wires": [
            [
                "422f8f9f2d2c4009"
            ]
        ]
    },
    {
        "id": "ec4597b415098143",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "Send UpdateSensor command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1160,
        "wires": [
            [
                "bccf6e86df3779e4"
            ]
        ]
    },
    {
        "id": "9f15bdb21d0ea917",
        "type": "switch",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "DDATA",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^((?!DDATA).)*$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 780,
        "wires": [
            [
                "49972b90e6d5c71e"
            ],
            [
                "746110e5b3a3049b"
            ]
        ]
    },
    {
        "id": "422f8f9f2d2c4009",
        "type": "encode",
        "z": "7f0d673780f6df9b",
        "g": "171d0d3ab6cf4b60",
        "name": "sparkplugB encoder",
        "protofile": "33ba13cd985b8439",
        "protoType": "Template",
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "551599bd68c97175",
                "ce9f35abd4f50dc3"
            ]
        ]
    },
    {
        "id": "b76c4f18d6f407e8",
        "type": "influxdb batch",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "influxdb": "c7e4ea28fcb99a3c",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB/IoTSensors",
        "database": "database",
        "precisionV18FluxV20": "ns",
        "retentionPolicyV18Flux": "",
        "org": "simulators-project",
        "bucket": "simulators",
        "x": 1000,
        "y": 780,
        "wires": []
    },
    {
        "id": "746110e5b3a3049b",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "Certs",
        "func": "let dTags = {\n    namespace: \"spBv1.0\",\n    group_id: msg.payload.metrics[3].stringValue,\n    node_id: msg.payload.metrics[2].stringValue,\n    device_id: msg.payload.metrics[1].stringValue\n};\n\nlet dFields = {}\n\nfor (let index in msg.payload.metrics) {\n    dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '') + \"_alias\"] = msg.payload.metrics[index].alias\n    if (msg.payload.metrics[index].hasOwnProperty('stringValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"stringValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('longValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"longValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('doubleValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"doubleValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('booleanValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"booleanValue\"])\n    }\n}\n\n\nmsg.payload = [\n    {\n        measurement: \"devices_certs\",\n        fields: dFields,\n        tags: dTags,\n        timestamp: String(msg.payload.timestamp)\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 800,
        "wires": [
            [
                "b76c4f18d6f407e8"
            ]
        ]
    },
    {
        "id": "49972b90e6d5c71e",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "8bafb5ca9319f25b",
        "name": "Data",
        "func": "let dFields = {}\n\ndFields[msg.payload.metrics[0].alias] = msg.payload.metrics[0][\"doubleValue\"]\n\n\nmsg.payload = [\n    {\n        measurement: \"devices_data\",\n        fields: dFields,\n        tags: {},\n        timestamp: String(msg.payload.metrics[0].timestamp)\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 760,
        "wires": [
            [
                "b76c4f18d6f407e8"
            ]
        ]
    },
    {
        "id": "ba2747c23a62e368",
        "type": "switch",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "DDATA",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^((?!DDATA).)*$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "39ae10cb66f44d42"
            ],
            [
                "fd7a0ea1a81378a5"
            ]
        ]
    },
    {
        "id": "39ae10cb66f44d42",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "Data",
        "func": "let dFields = {}\n\ndFields[msg.payload.metrics[0].alias] = msg.payload.metrics[0][\"doubleValue\"]\n\n\nmsg.payload = [\n    {\n        measurement: \"eonNode_data\",\n        fields: dFields,\n        tags: {},\n        timestamp: String(msg.payload.metrics[0].timestamp)\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 160,
        "wires": [
            [
                "f734af8d7efff40b"
            ]
        ]
    },
    {
        "id": "fd7a0ea1a81378a5",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "name": "Certs",
        "func": "let dTags = {\n    namespace: \"spBv1.0\",\n    group_id: msg.payload.metrics[2].stringValue,\n    node_id: msg.payload.metrics[1].stringValue\n};\n\nlet dFields = {}\n\nfor (let index in msg.payload.metrics) {\n    dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '') + \"_alias\"] = msg.payload.metrics[index].alias\n    if (msg.payload.metrics[index].hasOwnProperty('stringValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"stringValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('longValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"longValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('doubleValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"doubleValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('booleanValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"booleanValue\"])\n    }\n}\n\nmsg.payload = [\n    {\n        measurement: \"eonNode_certs\",\n        fields: dFields,\n        tags: dTags,\n        timestamp: String(msg.payload.timestamp)\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "f734af8d7efff40b"
            ]
        ]
    },
    {
        "id": "f734af8d7efff40b",
        "type": "influxdb batch",
        "z": "7f0d673780f6df9b",
        "g": "6da3b79df35d0a20",
        "influxdb": "c7e4ea28fcb99a3c",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB/IoTSensors",
        "database": "database",
        "precisionV18FluxV20": "ns",
        "retentionPolicyV18Flux": "",
        "org": "simulators-project",
        "bucket": "simulators",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "2a086d8c2cb1c6ed",
        "type": "decode",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "sparkplugB dencoder",
        "protofile": "33ba13cd985b8439",
        "protoType": "Payload",
        "x": 480,
        "y": 1360,
        "wires": [
            [
                "fdaae2dbc3801c07",
                "82f7fe20016a3a92"
            ]
        ]
    },
    {
        "id": "d46323e97945a666",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "Encoded DDATA/Devices",
        "topic": "spBv1.0/IoTSensors/DDATA/SparkplugB/anotherEmulatedDevice",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1320,
        "wires": [
            [
                "2a086d8c2cb1c6ed"
            ]
        ]
    },
    {
        "id": "fdaae2dbc3801c07",
        "type": "debug",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "Decoded Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d3b2b93ecfcc178a",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "Encoded DBIRTH/Devices",
        "topic": "spBv1.0/IoTSensors/DBIRTH/SparkplugB/anotherEmulatedDevice",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1360,
        "wires": [
            [
                "2a086d8c2cb1c6ed"
            ]
        ]
    },
    {
        "id": "61cccae98438e312",
        "type": "mqtt in",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "Encoded DDEATH/Devices",
        "topic": "spBv1.0/IoTSensors/DDEATH/SparkplugB/anotherEmulatedDevice",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e55b485152c29769",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "2a086d8c2cb1c6ed"
            ]
        ]
    },
    {
        "id": "82f7fe20016a3a92",
        "type": "switch",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "DDATA",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^((?!DDATA).)*$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 1400,
        "wires": [
            [
                "33cf8389453d7303"
            ],
            [
                "c1e84663db1dec8e"
            ]
        ]
    },
    {
        "id": "fb97c83db3c60cd1",
        "type": "influxdb batch",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "influxdb": "c7e4ea28fcb99a3c",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB/IoTSensors",
        "database": "database",
        "precisionV18FluxV20": "ns",
        "retentionPolicyV18Flux": "",
        "org": "simulators-project",
        "bucket": "simulators",
        "x": 1000,
        "y": 1400,
        "wires": []
    },
    {
        "id": "c1e84663db1dec8e",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "Certs",
        "func": "let dTags = {\n    namespace: \"spBv1.0\",\n    group_id: msg.payload.metrics[3].stringValue,\n    node_id: msg.payload.metrics[2].stringValue,\n    device_id: msg.payload.metrics[1].stringValue\n};\n\nlet dFields = {}\n\nfor (let index in msg.payload.metrics) {\n    dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '') + \"_alias\"] = msg.payload.metrics[index].alias\n    if (msg.payload.metrics[index].hasOwnProperty('stringValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"stringValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('longValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"longValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('doubleValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"doubleValue\"])\n    } else if (msg.payload.metrics[index].hasOwnProperty('booleanValue')) {\n        dFields[msg.payload.metrics[index].name.replace(/\\s+/g, '')] = String(msg.payload.metrics[index][\"booleanValue\"])\n    }\n}\n\n\nmsg.payload = [\n    {\n        measurement: \"devices_certs\",\n        fields: dFields,\n        tags: dTags,\n        timestamp: String(msg.payload.timestamp)\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1420,
        "wires": [
            [
                "fb97c83db3c60cd1"
            ]
        ]
    },
    {
        "id": "33cf8389453d7303",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "417ec37e5915bdc6",
        "name": "Data",
        "func": "let dFields = {}\n\ndFields[msg.payload.metrics[0].alias] = msg.payload.metrics[0][\"doubleValue\"]\n\n\nmsg.payload = [\n    {\n        measurement: \"devices_data\",\n        fields: dFields,\n        tags: {},\n        timestamp: String(msg.payload.metrics[0].timestamp)\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1380,
        "wires": [
            [
                "fb97c83db3c60cd1"
            ]
        ]
    },
    {
        "id": "4793a917b9e21984",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Send Rebirth command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 1600,
        "wires": [
            [
                "994e1c7fe2a8488f"
            ]
        ]
    },
    {
        "id": "1559d5b083f231a5",
        "type": "debug",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Encoded Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1640,
        "wires": []
    },
    {
        "id": "2bbc63114cbc9a91",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Add Sensor",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n        \"parameters\": [\n            {\n                \"name\": \"SensorId\",\n                \"stringValue\": \"anotherSensor\"\n            },\n            {\n                \"name\": \"Mean\",\n                \"doubleValue\": 98.5\n            },\n            {\n                \"name\": \"Std\",\n                \"doubleValue\": 1.8\n            },\n            {\n                \"name\": \"DelayMin\",\n                \"intValue\": 3\n            },\n            {\n                \"name\": \"DelayMax\",\n                \"intValue\": 8\n            },\n            {\n                \"name\": \"Randomize\",\n                \"booleanValue\": true\n            },\n        ],\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/AddSimulator\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1660,
        "wires": [
            [
                "beb151997b41667b"
            ]
        ]
    },
    {
        "id": "2769efccf055206e",
        "type": "mqtt out",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Device control topic",
        "topic": "spBv1.0/IoTSensors/DCMD/SparkplugB/anotherEmulatedDevice",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e55b485152c29769",
        "x": 1010,
        "y": 1680,
        "wires": []
    },
    {
        "id": "994e1c7fe2a8488f",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Rebirth",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/Rebirth\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1600,
        "wires": [
            [
                "beb151997b41667b"
            ]
        ]
    },
    {
        "id": "3fa0850b68f2328e",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "OFF",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/OFF\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1540,
        "wires": [
            [
                "beb151997b41667b"
            ]
        ]
    },
    {
        "id": "0f445547a709d54a",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Send OFF command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 1540,
        "wires": [
            [
                "3fa0850b68f2328e"
            ]
        ]
    },
    {
        "id": "2c208663d771ab43",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Send AddSensor command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 1660,
        "wires": [
            [
                "2bbc63114cbc9a91"
            ]
        ]
    },
    {
        "id": "b3bc1b4787f6bd8d",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Remove Sensor",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n        \"parameters\": [\n            {\n                \"name\": \"SensorId\",\n                \"stringValue\": \"NewSensor\"\n            }\n        ],\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/RemoveSimulator\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1720,
        "wires": [
            [
                "beb151997b41667b"
            ]
        ]
    },
    {
        "id": "b57317f239364730",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Send RemoveSensor command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1720,
        "wires": [
            [
                "b3bc1b4787f6bd8d"
            ]
        ]
    },
    {
        "id": "f08fb4622c506982",
        "type": "function",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Update Sensor",
        "func": "msg.payload = {\n        \"version\": \"v1.0.0\",\n        \"isDefinition\": true,\n        \"parameters\": [\n            {\n                \"name\": \"SensorId\",\n                \"stringValue\": \"NewSensor\"\n            },\n            {\n                \"name\": \"Mean\",\n                \"doubleValue\": 98.5\n            },\n            {\n                \"name\": \"Std\",\n                \"doubleValue\": 1.8\n            },\n            {\n                \"name\": \"DelayMin\",\n                \"intValue\": 3\n            },\n            {\n                \"name\": \"DelayMax\",\n                \"intValue\": 5\n            },\n            {\n                \"name\": \"Randomize\",\n                \"booleanValue\": false\n            },\n        ],\n         \"metrics\": [\n        {\n            \"name\": \"Device Control/UpdateSimulator\",\n            \"booleanValue\": true\n        }\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1780,
        "wires": [
            [
                "beb151997b41667b"
            ]
        ]
    },
    {
        "id": "193b26078302fdc0",
        "type": "inject",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "Send UpdateSensor command",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1780,
        "wires": [
            [
                "f08fb4622c506982"
            ]
        ]
    },
    {
        "id": "beb151997b41667b",
        "type": "encode",
        "z": "7f0d673780f6df9b",
        "g": "9745e11ad525fcea",
        "name": "sparkplugB encoder",
        "protofile": "33ba13cd985b8439",
        "protoType": "Template",
        "x": 760,
        "y": 1660,
        "wires": [
            [
                "1559d5b083f231a5",
                "2769efccf055206e"
            ]
        ]
    }
]